:root {
  background-color: var(--tan);
  --green: #92ba92;
  --dark-green: #78938a;
  --grey: #525e75;
  --tan: #f1ddbf;
  color: #525e75;
}
html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
