.list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  gap: 1rem;
  font-size: 1.2rem;
}
.listItem {
  font-size: 1.5rem;
}
.hideMenu {
  position: absolute;
  transition: transform 0.3s ease-in;
  transform: translateY(-3.5rem);
}
.visibleMenu {
  transform: translateY(0);
}
.button {
  background-color: transparent;
  border: none;
  color: #525e75;
  font-size: 1.2rem;
}
.button:hover {
  color: #525e75a8;
}
.button:active {
  color: #525e75;
}
