.form {
  padding: 1rem;
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
}
.input {
  font-size: 1.5rem;
  font-family: inherit;
  font-style: italic;
  width: 100%;
  background-color: transparent;
  border: none;
  color: #525e75;
  margin: auto 0;
  padding-bottom: 0.6rem;
}
.button {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: #525e75;
}
.button:hover {
  color: #525e75a8;
}
.button:active {
  color: #525e75;
}
