.border {
  /* border-right: 0.1rem solid #525e75; */
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: #2f6c9d;
}
.header {
  text-align: center;
  font-size: 2rem;
  color: #f1ddbf;
}
.button {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: #f1ddbf;
  margin-right: 1rem;
  width: 0;
}
.buttonOrigin {
  transition: transform 0.5s;
}
.button:hover {
  color: #f1ddbfbd;
}
.rotate {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
}
.loading {
  animation: rotate 2s linear infinite;
  color: #f1ddbf;
  font-size: 2rem;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
