.name {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
}
.button {
  background-color: transparent;
  border: none;
  color: #f1ddbf;
  font-size: 1.4rem;
  border-bottom: solid 1px black;
  padding: 0 1rem;
  margin: 0.2rem 0;
}
.button:hover {
  color: #f1ddbfb1;
}
.button:active {
  color: #f1ddbf;
}
.active {
  border-bottom: solid 1px #f1ddbf;
}
