.item {
  border: 0.1rem solid #525e75;
  padding: 0.4rem 1rem;
  margin: 1rem;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.circle {
  margin-right: 0.5rem;
}
.titleGroup {
  display: flex;
  align-items: center;
}
.title {
  font-size: 2rem;
}
.actionGroup {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 1.5rem;
}
