.button {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: #525e75;
}
.button:hover {
  color: #525e75bd;
}
.button:active {
  color: #525e75;
}

.header {
  border-bottom: solid 0.1rem #525e75;
  height: 3rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.addButton {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: #525e75;
  transition: transform 0.5s;
  margin-right: 1rem;
}
.addButton:hover {
  color: #525e75bd;
}
.rotate {
  transform: rotate(45deg);
}
